#header{
    min-height: 25vh;
    background-color: rgb(242,242,242);
}
#main-nav{
    height: 25vh;
    position: fixed;
    z-index: 10000;
    width: 100%;
    background-color: rgba(242,242,242,0.95);
    transition-delay: 0s;
    transition-property: height;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}
.main-nav-top{
    height: 80px !important;
}
#my-slideshow{
    background-color:rgb(74,85,92);
    -webkit-box-shadow: 0px 10px 19px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 19px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 19px -6px rgba(0,0,0,0.75);
}

#main-title{
    height: 25vh;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    background-color: rgb(242,242,242);
}
.main-title-page{
    height: 100px !important;
}
#sub-titulo{
    transition-delay: 0s;
    transition-property: opacity;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}
.sumir{
    opacity: 0 !important;
}